extends layout.pug

block content
  section.container
    h2 Welcome to UrbanPulse
    p Your Source for Population Insights.
    img(src="home_image.jpg", alt="Home Image", class="home-image")
    p Urban Pulse is your go-to platform for accessing comprehensive population data and statistics with ease.
    p Developed by our team, we're dedicated to simplifying the way you explore and analyze population trends.
    a.button(href="/reports") Explore Reports
