extends layout

block content
  section.reports-container
    h2 Dashboard
    ul.reports-list
      li.report-item
        .report-card
          img(src="country_image.jpg", alt="Country Report")
          h3 Country Report
          a.button(href="/report/country") View Report
      li.report-item
        .report-card
          img(src="city_image.jpg", alt="City Report")
          h3 City Report
          a.button(href="/cities") View Report
      li.report-item
        .report-card
          img(src="continent_image.jpg", alt="Continent Report")
          h3 Continent Report
          a.button(href="/report/continent") View Report
      li.report-item
        .report-card
          img(src="region_image.jpg", alt="Region Report")
          h3 Region Report
          a.button(href="/report/region") View Report
      li.report-item
        .report-card
          img(src="capital_city_image.jpg", alt="Capital City Report")
          h3 Capital City Report
          a.button(href="/report/capital-city") View Report
      li.report-item
        .report-card
          img(src="language_image.jpg", alt="Language Report")
          h3 Language Report
          a.button(href="/report/language") View Report


