extends layout.pug 

block content
  section.container
    ul
      li
        img(src="country_image.jpg", alt="Country Report Image", class="report-image")
        a(href="/report/country") Country Report
      li
        img(src="city_image.jpg", alt="City Report Image", class="report-image")
        a(href="/report/city") City Report
      li
        img(src="continent_image.jpg", alt="Continent Report Image", class="report-image")
        a(href="/report/continent") Continent Report
      li
        img(src="region_image.jpg", alt="Region Report Image", class="report-image")
        a(href="/report/region") Region Report
      li
        img(src="capital_city_image.jpg", alt="Capital City Report Image", class="report-image")
        a(href="/report/capital-city") Capital City Report
      li
        img(src="language_image.jpg", alt="Language Report Image", class="report-image")
        a(href="/report/language") Language Report
