extends layout.pug 

extends layout

block extra_css
  link(rel="stylesheet", href="about.css")

block content
  section.container
    h2 About UrbanPulse
    p The UrbanPulse is a project developed by my team to provide easy access to population data and statistics.
    p Our goal is to create a user-friendly platform that allows users to:
    ul
      li Retrieve population data for different regions, cities, countries and continents.
      li Analyze population trends and statistics through interactive charts and graphs.
      li Generate reports and summaries for decision-making and research purposes.
    p By leveraging modern technologies and data visualization techniques, we aim to empower researchers, policymakers, and the general public with valuable insights into population dynamics.
