link(rel='stylesheet', href='/path/to/style.css')

doctype html
html
  head
<<<<<<< HEAD:src/views/layout.pug
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | UrbanPulse
    block extra_css

=======
    title UrbanPulse
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
    link(rel='stylesheet', href='/css/main.css')
    // Include any additional styles or scripts
    block styles
      // Additional styles specific to the page can be included in child templates
>>>>>>> 4f5096b07e2e333d344e1b1d1a7be81a393c9f89:src/view/layout.pug
  body
    .main-container
      header.main-header
        // Put your site-wide header content here, such as navigation and logo
        h1 UrbanPulse
        // Navigation or other elements if any
      .content
        block content
          // The content of child templates will be injected here
      footer.main-footer
        // Footer content goes here
        p &copy; #{new Date().getFullYear()} UrbanPulse. All rights reserved.
    
    block scripts
      // Scripts that are needed on every page can go here
      // For example:
      // script(src='/js/main.js')
