link(rel='stylesheet', href='/path/to/style.css')

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | UrbanPulse
    block extra_css

  body
    .main-container
      header.main-header
        // Put your site-wide header content here, such as navigation and logo
        h1 UrbanPulse
        // Navigation or other elements if any
      .content
        block content
          // The content of child templates will be injected here
      footer.main-footer
        // Footer content goes here
        p &copy; #{new Date().getFullYear()} UrbanPulse. All rights reserved.
    
    block scripts
      // Scripts that are needed on every page can go here
      // For example:
      // script(src='/js/main.js')
