extends layout.pug 

block content
  section.container
    h2 Login

    // Display error message if present
    if error
      p.error= error

    // Login form
    form(action="/login", method="post")
      label(for="username") Username:
      input(type="text", id="username", name="username", placeholder="Enter your username", required)
      
      label(for="password") Password:
      input(type="password", id="password", name="password", placeholder="Enter your password", required)
      
      button(type="submit") Login

