extends layout

block content
  .login-container
    .header
      h1 UrbanPulse
      .logo-circle
        // Your logo here
    form(action='/login', method='post')
      .input-group
        label(for='username') Username
        input#username(type='text', placeholder='Enter your username', name='username', required)
      .input-group
        label(for='password') Password
        input#password(type='password', placeholder='Enter your password', name='password', required)
      button(type='submit') LOG IN
      .social-media-links
        a(href='https://linkedin.com', target='_blank')
          // LinkedIn icon
        a(href='https://instagram.com', target='_blank')
          // Instagram icon
        a(href='https://yourwebsite.com', target='_blank')
          // Other social media icon






