/* styles.css */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #db7fb9;
    color: rgb(212, 118, 184);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #db7fb9;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  